@tailwind base;
@tailwind components;
@tailwind utilities;

/*FONTS*/

@font-face {
  font-family: "DIN Next LT Arabic Bold";
  src: url("https://db.onlinewebfonts.com/t/513071b47bdba774c93a73ad16a75e3b.eot");
  src: url("https://db.onlinewebfonts.com/t/513071b47bdba774c93a73ad16a75e3b.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/513071b47bdba774c93a73ad16a75e3b.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/513071b47bdba774c93a73ad16a75e3b.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/513071b47bdba774c93a73ad16a75e3b.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/513071b47bdba774c93a73ad16a75e3b.svg#DIN Next LT Arabic Bold")
      format("svg");
}

@font-face {
  font-family: "DIN Next LT Arabic Medium";
  src: url("https://db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.eot");
  src: url("https://db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.svg#DIN Next LT Arabic Medium")
      format("svg");
}

@font-face {
  font-family: "DIN Next LT Arabic Regular";
  src: url("/public/font/DINNextLTArabic-Regular-3.ttf");
}

@font-face {
  font-family: "DIN Next LT Arabic Light";
  src: url("https://db.onlinewebfonts.com/t/d78f5d2c76185fa07aaf8dd729eef33e.eot");
  src: url("https://db.onlinewebfonts.com/t/d78f5d2c76185fa07aaf8dd729eef33e.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d78f5d2c76185fa07aaf8dd729eef33e.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d78f5d2c76185fa07aaf8dd729eef33e.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d78f5d2c76185fa07aaf8dd729eef33e.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d78f5d2c76185fa07aaf8dd729eef33e.svg#DIN Next LT Arabic Light")
      format("svg");
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
}

.maxWidth {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .maxWidth {
    padding: 0 40px;
  }
}
